/*
猜你喜欢
*/
.hall-like {
  width: 848px;
  height: 250px;
  margin-left: 11px;
  overflow: hidden;
}
.hall-like p {
  font-size: 18px;
  color: #2b2b2b;
  text-align: left;
  font-family: "微软雅黑";
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 6px;
  margin-bottom: 10px;
}
.like-btn-group {
  float: right;
  margin-right: 4px;
  margin-top: 2px;
  width: 53px;
}
.like-btn-group .btn-left {
  background: url(img/hall/btn-left-enable.png) no-repeat left top;
  width: 16px;
  height: 16px;
  float: left;
  cursor: pointer;
}
.like-btn-group .btn-right {
  background: url(img/hall/btn-right-enable.png) no-repeat left top;
  width: 16px;
  height: 16px;
  float: right;
  cursor: pointer;
}
.like-btn-group .btn-left.disable {
  background: url(img/hall/btn-left-disable.png) no-repeat left top;
  cursor: default;
}
.like-btn-group .btn-right.disable {
  background: url(img/hall/btn-right-disable.png) no-repeat left top;
  cursor: default;
}
.like-focus {
  width: 850px;
  height: 216px;
  position: relative;
  overflow: hidden;
}
.like-list {
  position: absolute;
  left: 0px;
  width: 1500px;
}
.like-item {
  position: relative;
  float: left;
  height: 230px;
  width: 160px;
  margin-right: 12px;
}
.like-item .like-link {
  position: relative;
  width: 160px;
}
.like-item .like-link img {
  width: 160px;
  height: 160px;
}
.like-g-title {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  color: #2b2b2b;
  left: 0;
  top: 174px;
  width: 80px;
}
.like-g-type {
  position: absolute;
  background: url(img/hall/ico-rhombus.png) no-repeat center left;
  padding-left: 10px;
  color: #767676;
  left: 98px;
  top: 174px;
  width: 80px;
}
.like-g-person {
  position: absolute;
  color: #767676;
  font-size: 12px;
  left: 0;
  top: 197px;
  width: 100px;
}
.like-mask {
  background: rgba(78, 166, 255, 0.8);
  _background: #5baafa;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  color: #dadadb;
  text-align: center;
  overflow: hidden;
  padding-left: 13px;
  padding-right: 13px;
  height: 162px;
  display: none;
}
.like-mask .mask-desc {
  line-height: 22px;
  font-size: 12px;
  color: #ffffff;
  padding-bottom: 12px;
  border-bottom: 1px dotted #b2b2b3;
  text-align: left;
  margin-top: 20px;
}
.like-mask .mask-start a {
  font-size: 12px;
  display: block;
  width: 75px;
  height: 28px;
  line-height: 28px;
  color: #2b2b2b;
  text-align: center;
  background: #d7e8fb;
  border-radius: 50px;
  margin: 20px auto 0;
  text-decoration: none;
}
.like-mask .mask-start a:hover {
  background: #ffffff;
}
